.container {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.question {
  width: 400px;
  height: 200px;
  border: 2px solid red;
}


.selected {
  background-color: #3399ff;
}