@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

.container {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 64px;

  .question {
    width: 400px;
    height: 200px;
    border: 2px solid #003366;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-weight: 700;
    color: #003366;

    #question-1-text, #question-2-text {
      font-size: 24px;
    }


    #percentage-1, #percentage-2 {
      font-size: 32px;
    }
  }
}

.selected {
  background-color: #004c99;
  color: white;
}

.show-element {
  display: block;
}

.hide-element {
  display: none;
}

button >
  /* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

