@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

.mainContainer{
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;

}

.container {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.container {
  margin: 64px 0;
}

.selected {
  background-color: #004c99;
  color: white;
}

.show-element {
  display: flex;
}

.hide-element {
  display: none;
}

button {
  background-color: #1899D6;
  border-radius: 16px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: 700;
  padding: 13px 16px;
  border: none;
  text-transform: uppercase;
}
