.container {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.question-1, .question-2 {
  width: 400px;
  height: 200px;
}

.question-1 {
  background-color: #6dccf2;
}

.question-2 {
  background-color: #cc2323;
}